<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()" color="dark"><ion-icon name="arrow-back"></ion-icon>Back</ion-button>
    </ion-buttons>     
    <ion-title>Send Request</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="padding padding-top">
    <div class="list-item">

      <ion-item color="transparent" *ngIf="mediaItem">
    
          <ion-thumbnail slot="start" class="lender-thumbnail">
            <img src="{{ mediaItem.media_data.thumb }}">
          </ion-thumbnail>    
  
          <ion-label>
            <h3>{{ mediaItem.title }}</h3>
            <p class="starts small">{{ mediaItem.media_data.description }}</p>
            <p class="starts small">User: <b>{{ mediaItem.user_name }}</b></p>
          </ion-label>
  
      </ion-item>

    </div>
  </div>

  <ion-list>
    <ion-item>
      <ion-label>Start Time</ion-label>
      <ion-datetime display-format="MMM DD, YYYY HH:mm" yearValues="2019,2020" minuteValues="0,15,30,45" (ionChange)="someParameterChanged()" [(ngModel)]="startTime"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>End Time</ion-label>
      <ion-datetime display-format="MMM DD, YYYY HH:mm" yearValues="2019,2020" minuteValues="0,15,30,45" (ionChange)="someParameterChanged()" [(ngModel)]="endTime"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Price per Hour</ion-label>
      <ion-badge slot="end" color="light" *ngIf="pricePerHour">{{ pricePerHour }}</ion-badge>
      <ion-spinner slot="end" name="dots" *ngIf="pricePerHour === ''"></ion-spinner>
    </ion-item>

    <ion-item>
      <ion-label>Total Cost</ion-label>
      <ion-badge slot="end" color="primary" *ngIf="priceTotal">{{ priceTotal }}</ion-badge>
      <ion-spinner slot="end" name="dots" *ngIf="priceTotal === ''"></ion-spinner>
    </ion-item>
  </ion-list>
  
  <div class="padding">
    <ion-button (click)="sendRequestButtonClick()" expand="block" disabled="{{ priceTotal === '' ? 'true' : 'false' }}">Send Request</ion-button>
  </div>

</ion-content>
