<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()" color="dark"><ion-icon name="arrow-back"></ion-icon>Back</ion-button>
    </ion-buttons> 
    <ion-title>Profile Picture</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>

  <ion-item (click)="choosePicture()">
    <ion-label position="stacked">Item Image/Video</ion-label>
    <ion-img id="uploadedImage" src="../../../assets/imgs/choosefile.png"></ion-img>
  </ion-item>

  <br>
  <ion-button [disabled]="!fileIsUploaded" expand="block" (click)="uploadFile()" color="primary">Upload Picture</ion-button>

</ion-content>
