.profile-picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 120px;
    max-width: 250px;
}

.user-fullname, .user-nickname, .user-email, .user-stats {
    text-align: center !important;
}
.user-nickname {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}
.user-fullname, .user-email {
    font-size: 13px;
}

.user-stats {
    font-size:11px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.user-stats table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
}
.user-stats table td {
    font-size: 10px;
    border: 1px solid #f2f2f2;
    padding: 4px;
    color: #444;
}
.user-stats table td:nth-child(2n) {
    font-weight: bold;
    width: 15%;
    color: #222;
}
.user-stats table td:nth-child(2n+1) {
    width: 30%;
}


.feedback {
    width: 100%;
    margin-bottom: 9px;
    font-size: 12px;
    text-align: center;
    padding: 10px;
    border-bottom: 1px #eee solid;
}

.feedback-block {
    margin-top: 10px;
    width: 100%;
    display: table;
}
.feedback-icon {
    display: table-cell;
    width: 52px;
    text-align: center;
    font-size: 30px;
    vertical-align: middle;
}
.feedback-data {
    vertical-align: middle;
    display: table-cell;
    background: #eee linear-gradient(#f6f6f6, #eee);
    -webkit-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.05);
    -moz-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.05);
    box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.05);
    padding: 10px;
    border: 1px solid #eaeaea;
    border-radius: 6px;
    font-size: 14px;
}

.feedback-by-user,
.feedback-time {
    font-size: 10px;
}
.feedback-by-user {
    font-weight: bold;
    margin-right: 8px;
}

.feedback-positive {
    color: #1d811d;
}

.feedback-negative {
    color: #a52828;
}

.no-items {
    font-size: 10px;
}