.thumb {
    //border-radius: 25%;
    //background: #cc0000;
    //color: #fff;
    font-size: 30px;
    color: #cc0000;
}
.thumb-green {
    //background: #00cc00;
    //color: #fff;
    color: #00cc00;
}