<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()"><ion-icon name="arrow-back"></ion-icon>Back</ion-button>
    </ion-buttons>     
    <ion-title>About Lender</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h1>Lender</h1>
  <p>v.0.01</p>
  <p>Copyright &copy; Team AVS 2019</p>
  <p>
    <a href="https://github.com/samuliv/lender" target="_blank">https://github.com/samuliv/lender</a>
  </p>
  <ul>
    <li>Samuli Virtanen</li>
    <li>Visa Soininen</li>
    <li>Alex Mäkinen</li>
  </ul>
</ion-content>
