<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()" color="dark"><ion-icon name="arrow-back"></ion-icon>Back</ion-button>
    </ion-buttons>    
    <ion-title>Send Message</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-badge color="light">Recipient:&nbsp;</ion-badge>
  <ion-badge color="dark">{{recipientName}}</ion-badge>
  <ion-spinner *ngIf="recipientName === ''" name="dots"></ion-spinner>

  <br>
  <br>

  <ion-badge color="light">Message:</ion-badge>

  <br>

  <ion-textarea rows="5" (change)="checkIsMessageLongEnough()" (keyup)="checkIsMessageLongEnough()" [(ngModel)]="messageText" maxlength="255" placeholder="Type your message here..."></ion-textarea>
  
  <ion-button expand="block" [disabled]="!messageIsLongEnough" (click)="sendMessageButtonClick()">Send Message</ion-button>

</ion-content>
