/*
.ion-list-lender-item {
  --ion-background-color: #52b2ff;
  text-decoration: none;
  display: block;
  position: relative;
  text-align: center;
  font-weight: bold;
  margin-top: 0.4rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;  
}

.ion-list-lender {
  display: block;
  position: absolute;
  bottom: 1%;
  width: 90%;
  left: 5%;
  right: 5%;
  align-items: center;
}
*/


.logos {
  display: block;
  width: 100%;
  margin-top: 30px;
}
.logo-icon, .logo-text {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.logo-icon {
  height: 60px;
  margin-bottom: 10px;
}
.logo-text {
  height: 40px;
}
