.settings {
  --ion-background-color: #52b2ff;
  text-decoration: none;
  display: block;
  position: relative;
  text-align: center;
  font-weight: bold;
  margin-top: 0.4rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 4px;
}

.secondary {
  display: block;
  position: absolute;
  bottom: 1%;
  width: 80%;
  left: 10%;
  right: 10%;
  align-items: center;
}
