<ion-header>
  <ion-toolbar>
    <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list-header>
        <ion-label></ion-label>
    </ion-list-header>

    <ion-list>
      <ion-item (click)="alert(1)">
        <ion-avatar slot="start">
          <img src="https://www.aviatron.fi/img/avatar/2_ca593335651dd89c42b218a72984952b.png">
        </ion-avatar>
        <ion-label>My Profile</ion-label>
      </ion-item>
    </ion-list>

    <ion-list>

      <ion-item (click)="myLendableItems()">
        <ion-label>My Lendable Items</ion-label>
      </ion-item>

      <ion-item (click)="viewAboutLender()">
        <ion-label>About Lender</ion-label>
      </ion-item>

      <ion-item (click)="deleteAccount()">
        <ion-label>Delete Account</ion-label>
      </ion-item>

      <ion-item (click)="logOut()">
        <ion-label>Log Out</ion-label>
      </ion-item>
      
    </ion-list>

</ion-content>
