<ion-header>
  <ion-toolbar>
    <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <div class="logos">
        <img class="logo-icon" src="../../../assets/imgs/lendertest2.png">
        <img class="logo-text" src="../../../assets/imgs/Lender.png">
    </div>

    <div class="assign-to-bottom">
      <ion-button expand="block" size="large" (click)="viewMyProfile()">My Profile</ion-button>
      <ion-button expand="block" (click)="viewMyLendableItems()">My Lendable Items</ion-button>
      <ion-button expand="block" (click)="viewAboutLender()">About Lender</ion-button>
      <div class="spacer"></div>
      <ion-button expand="block" color="danger" size="small" (click)="deleteAccount()">Delete Account</ion-button>
      <div class="spacer"></div>
      <ion-button expand="block" color="danger" (click)="logOut()">Log Out</ion-button>
    </div>

</ion-content>
