.image-container {
    text-align: center;
    width: 100%;
}
.image-container img {
    max-width: 80%;
    max-height: 250px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.item-title, .item-description {
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
}

.item-title {
    font-size: 20px;
}
.item-description {
    font-size: 14px;
}

.item-price, .item-distance {
    padding-bottom: 6px;
    background: #eee;
    border-radius: 6px;
    padding: 4px;
    margin-right: 4px; margin-bottom: 4px;
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
}