<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()" color="dark"><ion-icon name="arrow-back"></ion-icon>Back</ion-button>
    </ion-buttons>     
    <ion-title>Choose Location</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar (ionChange)="triggerRefresh()" [(ngModel)]="address" placeholder="Type address here..."></ion-searchbar>
  <div class="padding">
  <ion-list lines="full">

      <div class="list-item" *ngFor="let item of addressOptions" (click)="itemClick(item)">
        <ion-item color="primary">
          <ion-label>
            <h3>{{ item.address }}</h3>
            <p class="small">{{ item.suburb }}</p>
            <p class="small">{{ item.city }}, {{ item.country }}</p>
          </ion-label>
        </ion-item>
      </div>
  
    </ion-list>
  </div>
</ion-content>