<ion-header>

  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-button (click)="refershCurrentView()" color="dark">Refresh</ion-button>
      </ion-buttons>
    <ion-title>
      Lent
    </ion-title>
    <ion-buttons slot="end">
        <ion-button (click)="myLendableItems()" color="dark">My Items</ion-button>
      </ion-buttons>
  </ion-toolbar>
  
<ion-toolbar>
  <ion-segment [(ngModel)]="viewPage" color="dark">
    <ion-segment-button value="lent">
      <div class="oneRow">
        <div class="left">Latest</div>
        <div *ngIf="toolbarBadgeLent!=0" class="segment-badge">{{ toolbarBadgeLent }}</div>
      </div>
    </ion-segment-button>
    <ion-segment-button value="pending">
        <div class="oneRow">
          <div class="left">Pending</div>
          <div *ngIf="toolbarBadgePending!=0" class="segment-badge">{{ toolbarBadgePending }}</div>
        </div>
    </ion-segment-button>
    <ion-segment-button value="feedback">
        <div class="oneRow">
          <div class="left">Feedback</div>
          <div *ngIf="toolbarBadgeFeedback!=0" class="segment-badge">{{ toolbarBadgeFeedback }}</div>
        </div>
    </ion-segment-button>
  </ion-segment>
</ion-toolbar>

</ion-header>

<ion-content padding>

  <ion-list *ngIf="viewPage === 'lent'" lines="full">

    <div class="list-item" *ngFor="let item of lentItems" [ngClass]="item.status === 'pending' ? 'list-item-pending' : ''" (click)="itemClick(item)">
        <ion-item color="transparent">

        <ion-thumbnail class="lender-thumbnail" slot="start">
          <img class="img-thumbnail" *ngIf="item.item_thumb" [src]="item.item_thumb">
        </ion-thumbnail>

        <ion-label>
          <h3>{{ item.item_title }}</h3>
          <p class="starts"><ion-icon name="return-right"></ion-icon> {{ item.starts }}</p>
          <p class="ends"><ion-icon name="return-left"></ion-icon> {{ item.ends }}</p>
        </ion-label>

        <ion-badge slot="end" class="lender-badge" [ngClass]="'status-' + item.status">{{item.status}}</ion-badge>

    </ion-item>
    </div>

  </ion-list>

  <ion-list *ngIf="viewPage === 'pending'" lines="full">

    <div class="list-item" *ngFor="let item of pendingItems" (click)="itemClick(item)">
        <ion-item color="transparent">
        <ion-thumbnail class="lender-thumbnail" slot="start">
            <img class="img-thumbnail" *ngIf="item.item_thumb" [src]="item.item_thumb">
          </ion-thumbnail>

          <ion-label>
            <h3>{{ item.item_title }}</h3>
            <p class="starts"><ion-icon name="return-right"></ion-icon> {{ item.starts }}</p>
            <p class="ends"><ion-icon name="return-left"></ion-icon> {{ item.ends }}</p>
          </ion-label>

        <ion-badge slot="end" class="lender-badge status-{{item.status}}">{{item.status}}</ion-badge>  
      </ion-item>
    </div>

  </ion-list>

  <ion-list *ngIf="viewPage === 'feedback'" lines="full">

      <div class="list-item" *ngFor="let item of feedbackItems" (click)="giveFeedback(item)">
          <ion-item color="transparent">
          <ion-thumbnail class="lender-thumbnail" slot="start">
            <img class="img-thumbnail" *ngIf="item.item_thumb" [src]="item.item_thumb">
          </ion-thumbnail>
  
            <ion-label>
              <span class="give-feedback">Please, give feedback!</span>
              <h3>{{ item.item_title }}</h3>
              <p class="starts"><ion-icon name="return-right"></ion-icon> {{ item.starts }}</p>
              <p class="ends"><ion-icon name="return-left"></ion-icon> {{ item.ends }}</p>
            </ion-label>
  
          <ion-badge slot="end" class="lender-badge status-{{item.status}}">{{item.status}}</ion-badge>  
        </ion-item>
      </div>
  
    </ion-list>

</ion-content>
