<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="browse">
      <ion-icon name="search"></ion-icon>
      <ion-label>Browse</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="myitems">
      <ion-icon name="log-out"></ion-icon>
      <ion-label>Lends</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="calendar">
      <ion-icon name="log-in"></ion-icon>
      <ion-label>Borrowings</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="requests">
      <ion-icon name="chatboxes"></ion-icon>
      <ion-label>Messages</ion-label>
      <ion-badge>1</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
