<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()" color="dark"><ion-icon name="arrow-back"></ion-icon>Back</ion-button>
    </ion-buttons>     
    <ion-title>About Lender</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div class="logos">
      <img class="logo-icon" src="../../../assets/imgs/lendertest2.png">
      <img class="logo-text" src="../../../assets/imgs/Lender.png">
  </div>

  <p class="center small">v.0.01</p>
  
  <br>
    <p class="center small">Copyright &copy; Team Lender 2019</p>
  <br>

  <p class="center">
    <a href="https://tiny.cc/lender-app" target="_blank">tiny.cc/lender-app</a>
    <br>
    <a href="https://github.com/samuliv/lender" target="_blank">github.com/samuliv/lender</a>
  </p>
  
  <br>
  
  <p class="center small strong">Lender Team</p>
  <p class="center small">
    Samuli Virtanen
    <br>
    Visa Soininen
    <br>
    Alex Mäkinen
  </p>
</ion-content>
