.logos {
    display: block;
    width: 100%;
  }
  .logo-icon, .logo-text {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .logo-icon {
    height: 60px;
    margin-bottom: 10px;
  }
  .logo-text {
    height: 40px;
  }