<ion-header>

  <ion-toolbar>
    
    <ion-buttons slot="start">
      <ion-button (click)="goBack()" color="dark"><ion-icon name="arrow-back"></ion-icon>Back</ion-button>
    </ion-buttons> 

    <ion-title>
      Message
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="reply()" color="dark">Reply</ion-button>
    </ion-buttons> 

  </ion-toolbar>

</ion-header>

<ion-content padding>
  
  <table class="top-table">
    <tr>
      <td>From: </td>
      <td><ion-badge color="dark" (click)="viewSenderUserProfile()">{{ messageSenderName }}</ion-badge></td>
    </tr>
    <tr>
      <td>To: </td>
      <td><ion-badge color="dark" (click)="viewRecipientUserProfile()">{{ messageRecipientName }}</ion-badge></td>
    </tr>
    <tr>
      <td>Time: </td>
      <td class="message-time">{{ messageTime }}</td>
    </tr>
  </table>

  <div id="messageField">
    {{ message }}
  </div>

</ion-content>
