<ion-header>

  <ion-toolbar>
    
    <ion-buttons slot="start">
      <ion-button (click)="goBack()" color="dark"><ion-icon name="arrow-back"></ion-icon>Back</ion-button>
    </ion-buttons> 

    <ion-title>
      Message
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="reply()" color="dark">Reply</ion-button>
    </ion-buttons> 

  </ion-toolbar>

</ion-header>

<ion-content padding>
  
  <ion-badge color="light">From:</ion-badge>
  <ion-badge color="dark">{{ messageSenderName }}</ion-badge>
  <br>
  <ion-badge color="light">Time:</ion-badge>
  <ion-badge color="dark">{{ messageTime }}</ion-badge>
  <br><br>
  <ion-badge color="light">Message:</ion-badge>

  <br>

  <p>
    {{ message }}
  </p>

</ion-content>