#messageField {
  margin-top: 20px;
  background: var(--ion-color-tertiary);
  border-radius: 4px;
  padding: 10px;
  font-size: 13pt;
  min-height: 30%;
}

.top-table td {
  color: #222;
  font-size: 11px;
  padding: 2px;
}
.message-time {
  font-weight: bold;
}