<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="refreshCurrent()" color="dark">Refresh</ion-button>
    </ion-buttons>
    <ion-title>
      {{ viewPage === 'inbox' ? 'Inbox' : viewPage === 'sent' ? 'Sent' : 'Received Feedback' }}
    </ion-title>
  </ion-toolbar>

  <ion-toolbar>
      <ion-segment [(ngModel)]="viewPage" color="dark">
        <ion-segment-button value="inbox">
          <div class="oneRow">
            <div class="left">Inbox</div>
            <div *ngIf="badgeInbox > 0" class="segment-badge">{{ badgeInbox }}</div>
          </div>
        </ion-segment-button>
        <ion-segment-button value="sent">
          Sent
        </ion-segment-button>
        <ion-segment-button value="feedback">
          Feedback
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  
</ion-header>
<ion-content padding>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingText="Pull to Refresh" refreshingText="Refreshing..."></ion-refresher-content>
  </ion-refresher>

  <ion-list lines="full" *ngIf="viewPage === 'inbox'">
    <div class="list-item received-item" [ngClass]="!message.readed ? '' : 'list-item-secondary'" *ngFor="let message of inbox" (click)="readInboxMessage(message.id, message.readed, message)">
      <ion-item color="transparent">
        <ion-label>
          <div class="span-container">
            <span class="badge-unreaded" *ngIf="!message.readed">NEW</span>
            <span class="badge-time">{{ message.ago }}</span>
          </div>
          <p class="message-text">{{ message.message }}</p>
          <p class="message-sender-name">{{ message.sender_name }}</p>
        </ion-label>
      </ion-item>
    </div>
  </ion-list>

  <div *ngIf="(viewPage === 'inbox' && inbox.length === 0)" class="no-items">No messages in Inbox.</div>

  <ion-list lines="full" *ngIf="viewPage === 'sent'">
    <div class="list-item sent-item" [ngClass]="!message.readed ? '' : 'list-item-secondary'" *ngFor="let message of outbox" (click)="readOutboxMessage(message.id)">
      <ion-item color="transparent">
        <ion-label>
          <div class="span-container">
            <span class="badge-unreaded" *ngIf="!message.readed">NEW</span>
            <span class="badge-time">{{ message.ago }}</span>
          </div>
          <p class="message-text">{{ message.message }}</p>
          <p class="message-sender-name">{{ message.recipient_name }}</p>
        </ion-label>
      </ion-item>
    </div>
  </ion-list>

  <div *ngIf="(viewPage === 'sent' && outbox.length === 0)" class="no-items">No messages in outbox.</div>

  <ion-list lines="full" *ngIf="viewPage === 'feedback'">
    <div class="list-item" [ngClass]="item.feedback === 1 ? 'list-item-success' : 'list-item-danger'" *ngFor="let item of feedback">
      <ion-item color="transparent">
        <ion-label>
          <div class="span-container">
            <span class="big-number">{{ item.feedback === 1 ? '+' : '-' }}</span>
            <span class="badge-time">{{ item.ago }}</span>
            <span class="badge-time">{{ item.role }}</span>
          </div>
          <div class="span-container" *ngIf="item.item_name">
              <span class="badge-time">{{ item.item_name }}</span>
            </div>
          <p class="starts">{{ item.message }}</p>
          <span class="username">{{ item.user_name }}</span>
        </ion-label>
      </ion-item>
    </div>
  </ion-list>

  <div *ngIf="(viewPage === 'feedback' && feedback.length === 0)" class="no-items">You have not received any feedback yet.</div>

</ion-content>
