<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="refreshCurrent()" color="dark">Refresh</ion-button>
    </ion-buttons>
    <ion-title>
      {{ viewPage === 'inbox' ? 'Inbox' : viewPage === 'sent' ? 'Sent' : 'Received Feedback' }}
    </ion-title>
  </ion-toolbar>

  <ion-toolbar>
      <ion-segment [(ngModel)]="viewPage" color="dark">
        <ion-segment-button value="inbox">
          <div class="oneRow">
            <div class="left">Inbox</div>
            <div *ngIf="badgeInbox > 0" class="segment-badge">{{ badgeInbox }}</div>
          </div>
        </ion-segment-button>
        <ion-segment-button value="sent">
          Sent
        </ion-segment-button>
        <ion-segment-button value="feedback">
          Feedback
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  
</ion-header>
<ion-content padding>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingText="Pull to Refresh" refreshingText="Refreshing..."></ion-refresher-content>
  </ion-refresher>

  <div *ngIf="(viewPage === 'inbox')">
      <div *ngFor="let msg of inbox" class="feedback-block" [ngClass]="msg.readed ? 'message-readed' : 'message-unreaded'" (click)="inboxMessageClick(msg);">
        <div class="feedback-icon">
          <ion-icon name="{{ msg.readed ? 'mail' : 'mail-unread' }}"></ion-icon>
        </div>
        <div class="feedback-data">
          {{ msg.message }}
          <br>
          <span class="feedback-by-user">{{ msg.sender_name }}</span>
          <span class="feedback-time">{{ msg.ago }}</span>
        </div>
      </div>
    </div>

  <div *ngIf="(viewPage === 'inbox' && inbox.length === 0)" class="no-items">No messages in Inbox.</div>
  
  <div *ngIf="(viewPage === 'sent')">
    <div *ngFor="let msg of outbox" class="feedback-block" [ngClass]="msg.readed ? 'message-readed' : 'message-unreaded'" (click)="outboxMessageClick(msg);">
      <div class="feedback-icon">
        <ion-icon name="{{ msg.readed ? 'mail' : 'mail-unread' }}"></ion-icon>
      </div>
      <div class="feedback-data">
        {{ msg.message }}
        <br>
        <span class="feedback-by-user">{{ msg.recipient_name }}</span>
        <span class="feedback-time">{{ msg.ago }}</span>
      </div>
    </div>
  </div>

  <div *ngIf="(viewPage === 'sent' && outbox.length === 0)" class="no-items">No messages in outbox.</div>

  <div *ngIf="(viewPage === 'feedback')">
    <div *ngFor="let f of feedback" class="feedback-block" [ngClass]="f.feedback === 1 ? 'feedback-positive' : 'feedback-negative'">
      <div class="feedback-icon">
        <ion-icon name="{{ f.feedback === 1 ? 'thumbs-up' : 'thumbs-down' }}"></ion-icon>
      </div>
      <div class="feedback-data">
        {{ f.message }}
        <br>
        <span class="feedback-by-user">{{ f.user_name }}</span>
        <span class="feedback-time">{{ f.ago }}</span>
      </div>
    </div>
  </div>

  <div *ngIf="(viewPage === 'feedback' && feedback.length === 0)" class="no-items">You have not received any feedback yet.</div>

</ion-content>
