<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()" color="dark"><ion-icon name="arrow-back"></ion-icon>Back</ion-button>
    </ion-buttons>   
    <ion-title>{{ editItemID == 0 ? 'Add' : 'Edit'}} Item</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-item (click)="chooseCategory()">
    <ion-label position="stacked">Category</ion-label>
    <ion-label>{{ itemCategory }}</ion-label>
    <ion-spinner name="dots" *ngIf="itemCategory === ''"></ion-spinner>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Title</ion-label>
    <ion-input placeholder="Item Title" [(ngModel)]="itemTitle"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Description</ion-label>
    <ion-textarea placeholder="Description..." [(ngModel)]="itemDescription"></ion-textarea>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Price per Hour (&euro;)</ion-label>
    <ion-input type="number" placeholder="Price" [(ngModel)]="itemPrice"></ion-input>
  </ion-item>

  <ion-item (click)="itemLocationClick()">
      <ion-label position="stacked">Item Location</ion-label>
      <ion-label>{{ itemLocation }}</ion-label>
      <ion-spinner name="dots" *ngIf="itemLocation === ''"></ion-spinner>
    </ion-item>

  <ion-item (click)="choosePicture()">
    <ion-label position="stacked">Item Image/Video</ion-label>
    <ion-img id="uploadedImage" src="../../../assets/imgs/choosefile.png"></ion-img>
  </ion-item>
  
  <br>
  <ion-button expand="block" (click)="submitForm()" color="primary">{{ editItemID === 0 ? 'Add Item' : 'Save Changes'}}</ion-button>

</ion-content>
  