<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-button (click)="goBack()" color="dark"><ion-icon name="arrow-back"></ion-icon>Back</ion-button>
      </ion-buttons> 
    <ion-title>My Items</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="addLendableItem()" color="dark">Add Item</ion-button>
    </ion-buttons> 
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list lines="full">

        <div class="list-item" *ngFor="let item of myLendableItems" (click)="itemClick(item)">
    
          <ion-item color="primary">
    
            <ion-thumbnail slot="start" class="lender-thumbnail">
              <img src="{{ item.media_data.thumb }}">
            </ion-thumbnail>    
    
            <ion-label>
              <h3>{{ item.title }}</h3>
              <p class="starts">{{ item.media_data.description }}</p>
              <p class="starts">Price: {{ item.media_data.price }} &euro;/h</p>
            </ion-label>
    
          </ion-item>
          
        </div>
    
      </ion-list>
</ion-content>
