<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-button (click)="goBack()"><ion-icon name="arrow-back"></ion-icon>Back</ion-button>
      </ion-buttons> 
    <ion-title>MyLendableItems</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="addLendableItem()">Add Item</ion-button>
    </ion-buttons> 
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list lines="full">

        <ion-item-sliding *ngFor="let item of myLendableItems">
    
          <ion-item (click)="itemClick(item)">
    
            <ion-thumbnail slot="start">
              <img src="{{ item.media_data.thumb }}">
            </ion-thumbnail>    
    
            <ion-label>
              <h3>{{ item.title }}</h3>
              <p class="starts">{{ item.media_data.description }}</p>
              <p class="starts">Price: {{ item.media_data.price }} &euro;/h</p>
            </ion-label>
    
          </ion-item>
          
        </ion-item-sliding>
    
      </ion-list>
</ion-content>
