.thumb {
    //border-radius: 25%;
    //background: #cc0000;
    //color: #fff;
    font-size: 30px;
    color: #cc0000;
}
.thumb-green {
    //background: #00cc00;
    //color: #fff;
    color: #00cc00;
}
span.unread {
    background:#3142cc;
    font-size: 8px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    padding: 2px 4px 2px 4px;
    margin-bottom: 2px;
    border-radius: 2px;
}
.messageTeaser {
    font-size: 12px;
}