<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()" color="dark"><ion-icon name="arrow-back"></ion-icon>Back</ion-button>
    </ion-buttons>     
    <ion-title>Categories</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

<ul class="itemList">
  <li (click)="itemClickAll()" (dblclick)="goBack()" *ngIf="!noAll" class="list-item level0{{ allSelected ? ' selectedItem' : ''}}">All</li>
  <li (click)="itemClick(item)" (dblclick)="goBack()" *ngFor="let item of categories" class="list-item level{{ item.level }} {{item.display === true ? '' : 'hide' }} {{item.selected ? 'selectedItem' : ''}}">{{ item.name }}</li>
</ul>

</ion-content>
