.itemList {
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.itemList li {
  list-style-type: none;
  padding: 12px 8px 12px 8px;
  font-size: 14px;
  height: auto;
  box-sizing: border-box;
}

.level1, .level2, .level3 {
  font-size: 12px !important;
  padding: 8px 8px 8px 8px !important;
}
.level1 {
  margin-left: 30px !important;
  width: calc(100% - 30px);
}
.level2 {
  margin-left: 60px !important;
  width: calc(100% - 60px);
}
.level3 {
  margin-left: 90px !important;
  width: calc(100% - 90px);
}  

.itemList li.selectedItem {
  background: #4b87ff;
  color: #fff;
  font-weight: bold;
}

.itemList .hide {
  display: none;
}