// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';


/* oneRow for displaying span with ion-segment in one row */
.oneRow {
    .left {
        float :left;
    }
    .segment-badge {
        float: right;
        color:#222;
        font-weight:bold;
        background: #fff;
        border-radius: 50%;
        padding: 0 4px 0 4px;
        margin-left: 4px;
    }
}
/* with IOS display segment number with white background when selected */
.sc-ion-segment-ios-h .segment-button-checked .oneRow .right,
.sc-ion-segment-ios-s .segment-button-checked .oneRow .right {
    background: #fff; color: #3880ff;
}

$color-danger: #ff7a7a; //ff7eac
$color-success: #bfff7e;
$color-pending: #ffd37e;
$color-special: #ff00ff;
$color-fore-light: #fff;
$color-fore-dark: #222;

/* statuses / badges */
.lender-badge {
    text-transform: uppercase;
    font-size: 10px;
    padding: 4px 6px 4px 6px;
}

.status-onloan {
    background-color: $color-special;
    color: $color-fore-light;
}
.status-rejected,
.status-cancelled,
.status-uncommented,
.status-expired {
    background-color: $color-danger;
    color: $color-fore-light;
}
.status-accepted {
    background-color: $color-success;
    color: $color-fore-dark;
}
.status-pending {
    background-color: $color-pending;
    color: $color-fore-dark;
}
.status-finished {
    background-color: #222;
    color: #eee;
}
.status-inprogress {
    background-color: #e4a929;
    color: #222;
}

.img-thumbnail {
    background: #fff;
    height: 60px;
    width: 60px;
    object-fit: cover;
}

.lender-border {
    border: 1px solid #999;
    border-radius: 5px;
}
.lender-shadow {
    -webkit-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.37);
    -moz-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.37);
    box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.37);
}


/* global theming */
:root {
    --ion-color-primary: #fed772;
    --ion-color-primary-shade: #a1d0f9;
    --ion-color-primary-contrast: #000;
    --ion-color-tertiary: #FCB6D2;

    --ion-color-secondary: #ffd37e;
    --ion-color-secondary-shade: #dbae53;
    --ion-color-secondary-contrast: #222;

    --ion-color-danger: #ff7a7a;
    --ion-color-danger-shade: #b84747;
    --ion-color-danger-contrast: #fff;

    --ion-color-success: #bfff7e;
    --ion-color-success-shade: #9edd5e;
    --ion-color-success-contrast: #222;

    --background-checked: #dddddd;

    // Tab bar
    --ion-tab-bar-color: rgba(31,31,31, 0.4); // non-active forecolor text
    --ion-tab-bar-color-activated: #222; // tab bar active forecolor text
    --ion-tab-bar-background: #69a1b8; //tab bar bg color
    --ion-tab-bar-border-color: #fff;

    // Tollbar
    --ion-toolbar-background: #69a1b8; // Toolbar Background Color
    --ion-toolbar-color: #222; // Toolbar Foreground Color
}

.padding {
    padding: 0px 14px 14px 14px !important;
}
.padding-top {
    padding: 14px !important;
}

.list-item {
    background: var(--ion-color-primary) linear-gradient(#FEF0C1, #fef1ae);
    width: 100%;
    border: 1px solid #8d7f63;
    border-radius: 8px;
    margin-bottom: 4px;
    overflow: hidden;
}
.list-item-secondary {
    background: #eee linear-gradient(#fafafa, #eaeaea);
    border: 1px solid #ddd;
}
.list-item-success {
    background: #eee linear-gradient(#bfff7e, #a6e26a);
    border: 1px solid #a6e26a;
}
.list-item-pending {
    background: #eee linear-gradient(#ffd37e, #e4bb6b);
    border: 1px solid #e4bb6b;
}
.list-item-danger {
    background: #eee linear-gradient(#ff7a7a, #db6464);
    border: 1px solid #db6464;
}
.lender-thumbnail {
    border: 1px solid rgba(0,0,0,0.4);
    border-radius: 8px;
    overflow:hidden;
}

.Alert .alert-button {
    white-space: pre;
    color: #000;
}

.center {
    text-align: center;
}

.assign-to-bottom {
    display: block;
    position: absolute;
    width: 90%;
    bottom: 15px;
    left: 5%;
    right: 5%;
}

.spacer {
    display: block;
    width: 100%;
    height: 10px;
}

.small {
    font-size: 12px !important;
}

.strong {
    font-weight: bold;
}

.error-div {
    background: $color-danger;
    border: 1px solid $color-danger;
    border-radius: 4px;
    color: $color-fore-light;
    margin: 2px 0 2px 0;
    font-weight: bold;
    text-align: center;
    font-size: 10px;
    padding: 2px 4px 2px 4px;
}

.no-items {
    opacity: 0.3;
    width: 100%;
    padding: 20px 30px 20px 30px;
    font-size: 13pt;
    text-align: center;
    background: #eee linear-gradient(#eee, #ddd);
    border: 1px solid #ddd;
    border-radius: 8px;
}


.sc-ion-action-sheet-ios,
.sc-ion-alert-ios,
.sc-ion-picker-ios {
    color: #222 !important;
}

.action-sheet-destructive .sc-ion-action-sheet-ios {
    color: #ff0000 !important;
}
