// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';


/* oneRow for displaying span with ion-segment in one row */
.oneRow {
    .left { 
        float :left; 
    }
    .right { 
        float: right; 
        color:#fff; 
        font-weight:bold;
        background: #3880ff;
        border-radius: 50%;
        padding: 0 4px 0 4px;
        margin-left: 4px;
    }
}
/* with IOS display segment number with white background when selected */
.sc-ion-segment-ios-h .segment-button-checked .oneRow .right, 
.sc-ion-segment-ios-s .segment-button-checked .oneRow .right {
    background: #fff; color: #3880ff;
}

$color-danger: #ff0000;
$color-success: #00cc00;
$color-pending: #ffff00;
$color-special: #ff00ff;
$color-fore-light: #fff;
$color-fore-dark: #222;

/* statuses / badges */
.lender-badge {
    text-transform: uppercase;
    font-size: 11px;
    padding: 4px 6px 4px 6px;
}

.status-onloan {
    background-color: $color-special;
    color: $color-fore-light;
}
.status-rejected,
.status-cancelled,
.status-uncommented,
.status-expired {
    background-color: $color-danger;
    color: $color-fore-light;
}
.status-accepted {
    background-color: $color-success;
    color: $color-fore-light;
}
.status-pending {
    background-color: $color-pending;
    color: $color-fore-dark;
}

.img-thumbnail {
    height: 60px;
    width: 60px;
    object-fit: cover;
}
