<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button *ngIf="!browseItems" (click)="quickSearch()">Quick Search</ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-button *ngIf="browseItems" (click)="closeBrowse()"><ion-icon name="arrow-back"></ion-icon>Back</ion-button>
    </ion-buttons>
    <ion-title>
      Browse
    </ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="!browseItems" (click)="moreSearchOptionsToggle()">{{ moreSearchOptions ? 'Less Options' : 'More Options' }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list *ngIf="!browseItems">

    <ion-item (click)="browseCategory()">
        <ion-label>
          Category
        </ion-label>
        <ion-badge slot="end" color="secondary">{{ selectedCategoryName }}</ion-badge>  
      </ion-item>

    <ion-item *ngIf="moreSearchOptions">
      <ion-label>Search Text</ion-label>
      <ion-input (ionChange)="someParameterChanged()" [(ngModel)]="searchText" placeholder="type search text here..."></ion-input>
    </ion-item>

    <ion-item>
      <ion-label class="slider-label">Price</ion-label>
      <ion-range min="0" max="201" color="secondary" [(ngModel)]="maxPrice" (ionChange)="someParameterChanged()"></ion-range>
      <ion-badge slot="end" color="secondary" class="fixed-width">{{ maxPrice === 0 ? 'Only Free' : maxPrice === 201 ? 'Any price' : 'max ' + maxPrice + ' €' }}</ion-badge>
    </ion-item>

    <ion-item>
      <ion-label>Use GPS location</ion-label>
      <ion-toggle [(ngModel)]="useGpsLocation" (ionChange)="gpsLocationClick()"></ion-toggle>
    </ion-item>

    <ion-item (click)="chooseLocationManually()">
      <ion-label>
        Location
      </ion-label>
      <ion-icon *ngIf="useGpsLocation" name="navigate" color="secondary" slot="end"></ion-icon>
      <ion-badge slot="end" color="secondary">{{ currentLocationName }}</ion-badge>  
    </ion-item>
    
    <ion-item>
      <ion-label class="slider-label">Distance</ion-label>
      <ion-range min="1" max="201" color="secondary" [(ngModel)]="maxDistance" (ionChange)="someParameterChanged()"></ion-range>
      <ion-badge slot="end" color="primary" class="fixed-width">{{ maxDistance === 201 ? 'Anywhere' : "max " + maxDistance + " km" }}</ion-badge>
    </ion-item>

    <ion-item>
      <ion-label>Start Time</ion-label>
      <ion-datetime display-format="MMM DD, YYYY HH:mm" yearValues="2019,2020" minuteValues="0,15,30,45" (ionChange)="someParameterChanged()" [(ngModel)]="startTime"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>End Time</ion-label>
      <ion-datetime display-format="MMM DD, YYYY HH:mm" yearValues="2019,2020" minuteValues="0,15,30,45" (ionChange)="someParameterChanged()" [(ngModel)]="endTime"></ion-datetime>
    </ion-item>
      
  </ion-list>

  <ion-button *ngIf="!browseItems" expand="block" (click)="browseItemsButtonClick()">Browse {{ borrowableItems.length }} items</ion-button>

  <div *ngIf="browseItems">

    <div *ngFor="let item of borrowableItems" class="lender-card">
      <div class="lender-card-title">{{ item.title }}</div>
      <div class="lender-card-content">
        <table>
          <tr>
            <td style="width: 10px;">
              <img [src]="item.media_data.thumb">
            </td>
            <td class="description">
              {{ item.media_data.description }}        
            </td>
          </tr>
        </table>
      </div>
      <div class="lender-card-footer">
        <table>
          <tr>
            <td class="td-left">Price: <span class="highlight">{{ item.media_data.price === 0 ? 'FREE' : item.media_data.price + ' &euro;/h' }} </span></td>
            <td class="td-right">Distance: <span class="highlight">{{ item.distance }} away</span></td>
          </tr>
          <tr>
              <td class="td-left">User: <b>samuli_v</b></td>
              <td class="td-right">
                <span class="highlight">
                    <ion-icon name="basket"></ion-icon> 15
                  <ion-icon name="thumbs-up"></ion-icon> 100%
                  <ion-icon name="thumbs-down"></ion-icon> 0%
                </span>
              </td>
            </tr>
            <tr>
            <td colspan="2">Location: ESPOO / Leppävaara</td>
          </tr>
        </table>
     </div>
     <div class="lender-card-footer-request" (click)="requestLendNow(item)">
        Request Lend Now
     </div>
    </div>

  </div>


    <!--
    <ion-item class="listitem" *ngFor="let item of borrowableItems" (click)="itemClick(item)">

      <ion-thumbnail class="thumbnail" slot="start">
        <img class="img-thumbnail" *ngIf="item.media_data.thumb" [src]="item.media_data.thumb">
      </ion-thumbnail>

      <ion-label>
        <h3>{{ item.title }}</h3>
        <ion-badge slot="end" class="lender-badge">{{ item.distance }}</ion-badge>
      </ion-label>

      <ion-badge slot="end" class="lender-badge">{{ item.media_data.price }} &euro;/h</ion-badge>

    </ion-item> -->

</ion-content>
