<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-button (click)="quickSearch()">Quick Search</ion-button>
      </ion-buttons>
    <ion-title>
      Browse
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>

      <ion-item (click)="chooseLocationManually()">
          <ion-label>
            Category
          </ion-label>
          <ion-badge slot="end" color="secondary">All</ion-badge>  
        </ion-item>

    <ion-list-header>
      <ion-label>Max Price (per hour)</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-range min="0" max="201" color="secondary" [(ngModel)]="maxPrice" (ionChange)="someParameterChanged()">
        <ion-badge slot="end" color="secondary" class="fixed-width">{{ maxPrice === 0 ? 'Free' : maxPrice === 201 ? '∞ €' : maxPrice + ' €' }}</ion-badge>
      </ion-range>
    </ion-item>

    <ion-item>
      <ion-label>Use GPS location</ion-label>
      <ion-toggle [(ngModel)]="useGpsLocation" (ionChange)="someParameterChanged()"></ion-toggle>
    </ion-item>

    <ion-item (click)="chooseLocationManually()">
      <ion-label>
        Location
      </ion-label>
      <ion-icon *ngIf="useGpsLocation" name="navigate" color="secondary" slot="end"></ion-icon>
      <ion-badge slot="end" color="secondary">Espoo</ion-badge>  
    </ion-item>
    
    <ion-list-header>
      <ion-label>Max Distance</ion-label>
    </ion-list-header>
    
    <ion-item>
      <ion-range min="1" max="201" color="secondary" [(ngModel)]="maxDistance" (ionChange)="someParameterChanged()">
        <ion-badge slot="end" color="primary" class="fixed-width">{{ maxDistance === 201 ? '∞ km' : maxDistance + " km" }}</ion-badge>
      </ion-range>
    </ion-item>

    <ion-item>
      <ion-label>Start Time</ion-label>
      <ion-datetime display-format="MMM DD, YYYY HH:mm" yearValues="2019,2020" minuteValues="0,15,30,45" (ionChange)="someParameterChanged()" [(ngModel)]="startTime"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>End Time</ion-label>
      <ion-datetime display-format="MMM DD, YYYY HH:mm" yearValues="2019,2020" minuteValues="0,15,30,45" (ionChange)="someParameterChanged()" [(ngModel)]="endTime"></ion-datetime>
    </ion-item>
  
  </ion-list>

  <ion-button expand="block">Browse {{ browseItemsCount }} items</ion-button>
  
</ion-content>
