<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button *ngIf="!browseItems" (click)="quickSearch()" color="dark">Quick Search</ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-button *ngIf="browseItems" (click)="closeBrowse()" color="dark"><ion-icon name="arrow-back"></ion-icon>Back</ion-button>
    </ion-buttons>
    <ion-title>
      Browse
    </ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="!browseItems" (click)="moreSearchOptionsToggle()" color="dark">{{ moreSearchOptions ? 'Less Options' : 'More Options' }}</ion-button>
      <ion-button *ngIf="browseItems" (click)="viewMap()" color="dark">All on Map</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list *ngIf="!browseItems">

    <ion-item (click)="browseCategory()">
        <ion-label>
          Category
        </ion-label>
        <ion-badge slot="end" color="primary">{{ selectedCategoryName }}</ion-badge>  
      </ion-item>

    <ion-item *ngIf="moreSearchOptions">
      <ion-label>Search Text</ion-label>
      <ion-input (ionChange)="someParameterChanged()" [(ngModel)]="searchText" placeholder="type search text here..."></ion-input>
    </ion-item>

    <ion-item>
      <ion-label class="slider-label">Price /h</ion-label>
      <ion-range min="0" max="201" color="primary" [(ngModel)]="maxPrice" (ionChange)="someParameterChanged()"></ion-range>
      <ion-badge slot="end" color="primary" class="fixed-width">{{ maxPrice === 0 ? 'Only Free' : maxPrice === 201 ? 'Any price' : 'max ' + maxPrice + ' €' }}</ion-badge>
    </ion-item>

    <ion-item>
      <ion-label>Use GPS location</ion-label>
      <ion-toggle [(ngModel)]="useGpsLocation" (ionChange)="gpsLocationClick()"></ion-toggle>
    </ion-item>

    <ion-item (click)="chooseLocationManually()">
      <ion-label>
        Location
      </ion-label>
      <ion-icon *ngIf="useGpsLocation && !currentLocationByGPS" name="navigate" color="danger" slot="end"></ion-icon>
      <ion-icon *ngIf="useGpsLocation && currentLocationByGPS" name="navigate" color="success" slot="end"></ion-icon>
      <ion-badge slot="end" color="primary">{{ currentLocationName }}</ion-badge>  
    </ion-item>
    
    <ion-item>
      <ion-label class="slider-label">Distance</ion-label>
      <ion-range min="1" max="201" color="primary" [(ngModel)]="maxDistance" (ionChange)="someParameterChanged()"></ion-range>
      <ion-badge slot="end" color="primary" class="fixed-width">{{ maxDistance === 201 ? 'Anywhere' : "max " + maxDistance + " km" }}</ion-badge>
    </ion-item>

    <ion-item *ngIf="moreSearchOptions">
      <ion-label class="slider-label">Rating</ion-label>
      <ion-range min="0" max="25" color="primary" [(ngModel)]="minUserRating" (ionChange)="someParameterChanged()"></ion-range>
      <ion-badge slot="end" color="primary" class="fixed-width">
        {{ minUserRating === 0 ? 'no min ' : 'min '}}
        <ion-icon name="star"></ion-icon>
        {{ minUserRating === 0 ? '' : minUserRating}}
      </ion-badge>
    </ion-item>

    <ion-item>
      <ion-label>Start Time</ion-label>
      <ion-datetime display-format="MMM DD, YYYY HH:mm" yearValues="2019,2020" minuteValues="0,15,30,45" (ionChange)="someParameterChanged()" [(ngModel)]="startTime"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>End Time</ion-label>
      <ion-datetime display-format="MMM DD, YYYY HH:mm" yearValues="2019,2020" minuteValues="0,15,30,45" (ionChange)="someParameterChanged()" [(ngModel)]="endTime"></ion-datetime>
    </ion-item>
      
  </ion-list>

  <ion-button *ngIf="!browseItems" [disabled]="borrowableItems.length === 0 ? true : false" expand="block" (click)="browseItemsButtonClick()">Browse {{ borrowableItems.length }} items</ion-button>

  <div *ngIf="browseItems">

    <div *ngFor="let item of borrowableItems" class="lender-card">
      <div class="lender-card-title">{{ item.title }}</div>
      <div class="lender-card-content">
        <table>
          <tr>
            <td style="width: 10px;">
              <img [src]="item.media_data.thumb" class="browse-thumb-img" (click)="viewMedia(item.file_id)">
            </td>
            <td class="description">
              {{ item.media_data.description }}        
            </td>
          </tr>
        </table>
      </div>
      <div class="lender-card-footer">
        <table>
          <tr>
            <td class="td-left">Price: <span class="highlight">{{ item.media_data.price === 0 ? 'FREE' : item.media_data.price + ' &euro;/h' }} </span></td>
            <td class="td-right" (click)="viewUserProfile(item)">User: <b>{{ item.user_name }}</b></td>
          </tr>
          <tr>
            <td class="td-left" (click)="viewItemOnMap(item)">Distance: <span class="highlight">{{ item.distance }} away</span></td>
            <td class="td-right">
              <span class="highlight" (click)="viewUserProfile(item)">
                  <ion-icon name="star"></ion-icon> {{ !item.user_score ? 0 : item.user_score }}
                <ion-icon name="thumbs-up" *ngIf="item.user_feedback_positive"></ion-icon> {{ !item.user_feedback_positive || item.user_feedback_positive === 0 ? '' : item.user_feedback_positive + ' %' }}
                <ion-icon name="thumbs-down" *ngIf="item.user_feedback_negative"></ion-icon> {{ !item.user_feedback_negative || item.user_feedback_negative === 0 ? '' : item.user_feedback_negative + ' %' }}
              </span>
            </td>
          </tr>
          <tr>
            <td colspan="2" (click)="viewItemOnMap(item)">Location: {{ item.location }}</td>
          </tr>
        </table>
     </div>
     <div class="lender-card-footer-map" (click)="viewItemOnMap(item)" *ngIf="item.user_id !== myUserID">
        View on Map
     </div>
     <div class="lender-card-footer-request" (click)="requestLendNow(item)" *ngIf="item.user_id !== myUserID">
        Borrow Item Now
     </div>
    </div>

  </div>


    <!--
    <ion-item class="listitem" *ngFor="let item of borrowableItems" (click)="itemClick(item)">

      <ion-thumbnail class="thumbnail" slot="start">
        <img class="img-thumbnail" *ngIf="item.media_data.thumb" [src]="item.media_data.thumb">
      </ion-thumbnail>

      <ion-label>
        <h3>{{ item.title }}</h3>
        <ion-badge slot="end" class="lender-badge">{{ item.distance }}</ion-badge>
      </ion-label>

      <ion-badge slot="end" class="lender-badge">{{ item.media_data.price }} &euro;/h</ion-badge>

    </ion-item> -->

</ion-content>
