.profile-picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 120px;
    max-width: 250px;
}

.user-fullname, .user-nickname, .user-email, .user-stats {
    text-align: center;
}
.user-nickname {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}
.user-fullname, .user-email {
    font-size: 13px;
}
.user-stats {
    font-size:11px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.user-stats table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
}
.user-stats table td {
    font-size: 10px;
    border: 1px solid #f2f2f2;
    padding: 4px;
    color: #444;
}
.user-stats table td:nth-child(2n) {
    font-weight: bold;
    color: #222;
}

/*
ion-item {
    --ion-background-color: #52b2ff;
    text-decoration: none;
    display: block;
    text-align: center;
    font-weight: bold;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    border-radius: 4px;
    position: relative;
    width: 80%;
    left: 10%;
    right: 10%;
}
*/