.profile-picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    max-height: 150px;
    max-width: 250px;
}

.user-fullname, .user-nickname, .user-stats {
    text-align: center;
}

.user-stats {
    font-size:14px;
}

ion-item {
    --ion-background-color: #52b2ff;
    text-decoration: none;
    display: block;
    text-align: center;
    font-weight: bold;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    border-radius: 4px;
    position: relative;
    width: 80%;
    left: 10%;
    right: 10%;
}
